- hide_milestone ||= false
%table.table.table-hover.table-condensed
  - issues.each do |issue|
    %tr{:class => class_for_issue(issue)}
      %td
        %a{:href => issue['html_url']}= issue['number']
        %br
        = item_assignee(issue)
      %td
        %a.issue-link{:href => issue['html_url']}
          %span.title= issue['title']
        = related_issues_as_links(issue)
        = blocked_label(issue)
        = accepted_label(issue)
        = pull_request_label(issue)
        - unless hide_milestone
          = milestone_as_link(issue)
        - unless hide_state
          = state_label(issue)
