.row-fluid
  .span3
    %h4
      = project.last_closed_milestone['title']
      (Last - 1)
    = partial 'issue_table', :locals => {:issues => project.issues_for_milestone(project.second_last_closed_milestone['title'])}

  .span3
    %h4
      = project.last_closed_milestone['title']
      (Last)
    = partial 'issue_table', :locals => {:issues => project.issues_for_milestone(project.last_closed_milestone['title'])}

  .span3
    %h4 Next
    = partial 'issue_table', :locals => {:issues => project.issues_for_milestone('Next')}

  .span3
    %h4 Next + 1
    = partial 'issue_table', :locals => {:issues => project.issues_for_milestone('Next+1')}
