:ruby
  features = @issues.reject {|i| item_bug_label?(i) }
  bugs = @issues - features

%h2 Release Notes for Milestone #{params[:milestone]}

%h3 New / Enhanced Features
- if features.size > 0
  %ul
  - features.each do |issue|
    %li [#{issue['number']}] #{issue['title']}
- else
  %p No new features

%h3 Bugs Fixed
- if bugs.size > 0
  %ul
  - bugs.each do |issue|
    %li [#{issue['number']}] #{issue['title']}
- else
  %p No bugs
